@import "tailwindcss";
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent; // optional
  overflow: hidden;
}

  * {
    scrollbar-width: thin;
    scrollbar-color: #767474 rgba(17, 17, 17, 0.9);
  }
  